numpy
numba
statsmodels
pandas
scipy
matplotlib
seaborn
anytree
graphviz
click
lmfit
dask
multiprocess
pyfasta
openpyxl
scikit-learn
alphabase
alphamap @ git+https://github.com/MannLabs/alphamap@92806a68a67f2f3dab5fec8e98fd038f3439eb3a
pyarrow
